.search-add {
  display: flex;
  align-items: center;
  padding: 0;
}

.search-form-main {
  outline: none;
  cursor: pointer;
  z-index: 1;
  position: fixed;
  margin: 0;
  padding: 19px 0 0 0;
  right: 416px;
}

.search {
  display: flex;
  align-items: center;
  height: 47px;
  align-content: flex-start;
  justify-content: flex-end;
}

.search-input {
  width: 0;
  overflow: hidden;
  transition: width 0.5s ease;
}

.search-input.expanded {
  width: 800px;
}

.search-img {
  cursor: pointer;
}

.input-btn-block {
  display: flex;
  align-items: center;
  padding-left: 16px;
}

:host ::ng-deep .mdc-text-field {
  padding: 0;
}

:host ::ng-deep .mdc-text-field--no-label .mat-mdc-form-field-infix {
  padding: 0;
}

.mat-mdc-form-field {
  padding: 0;
}

.search-btn {
  margin-left: 10px;
  background-color: #ffb700;
  color: white;
  border: #ffb700;
  height: 56px;
  width: 100px;
  font-size: 20px;
  cursor: pointer;
}

.hidden-option {
  display: none;
}

.arrow-back {
  display: none;
}

.cancel-search-btn {
  display: none;
}

.cancel-search {
  display: none;
}

@media screen and (max-width: 414px) {
  .desktop-only {
    display: none;
  }

  .search-add {
    flex-direction: row;
    padding-left: 12px;
  }

  .search {
    height: 24px;
  }

  .search img {
    padding: 0;
  }

  .input-btn-block {
    border-radius: 24px;
    background-color: #F5F5F5;
  }

  .search-input.expanded {
    width: 412px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #ffffff;
    padding: 0;
  }

  .options {
    padding: 24px 14px 0 14px;
  }

  .arrow-back {
    display: inline-block;
    padding: 16px 12px 16px 0;
  }

  .cancel-search-btn {
    display: block;
    border: none;
    background-color: #f5f5f5;
  }

  .cancel-search {
    display: inline-block;
    color: #7F878C;
  }
}
