<div class="search-add" appFocus (clickOutside)="closeSearch()">
  <form class="search-form-main">
    <div class="search" >
      <mat-form-field class="search-input" [ngClass]="{'expanded': showSearch}">
        <div class="input-btn-block">
          <mat-icon class="arrow-back desktop-only cancel-search-btn">arrow_back</mat-icon>

          <input
            type="text"
            matInput
            [matAutocomplete]="auto"
            placeholder="Поисковый запрос"
            [formControl]="searchControl"
            name="text"
          >
          <button type="button" class="cancel-search-btn desktop-only" (click)="closeSearch()">
            <mat-icon class="cancel-search cancel-search-btn desktop-only">cancel</mat-icon>
          </button>
          <button type="submit" class="search-btn desktop-only">Найти</button>
        </div>

      </mat-form-field>

      <mat-autocomplete #auto="matAutocomplete" class="toggle-form">
        <mat-option
          *ngFor="let option of options"
          [value]="option"
          class="hidden-option">
          {{ option }}
        </mat-option>

        <div class="form-search-category">
          <div class="history desktop-only">
            <p class="title-history">История</p>
            <div class="title-search" *ngFor="let word of wordsSearch">{{ word.wordName }}</div>
          </div>

          <div class="options">
            <mat-form-field class="input-name" appearance="outline">
              <mat-label class="author">Автор</mat-label>
              <input matInput class="input-name-job-title" placeholder="Имя или должность" name="user">
              <mat-icon matSuffix>account_box</mat-icon>
            </mat-form-field>

            <div>
              <mat-checkbox
                name="checkbox1" *ngFor="let filter of filters"
                [(ngModel)]="filter.checked"
                class="first-checkbox"
              >
                {{ filter.name }}
              </mat-checkbox>
            </div>

            <div class="only-checkbox">
              <div class="only-title">Только</div>
              <mat-checkbox name="category" *ngFor="let filter of filtersOnly"
                            [(ngModel)]="filter.checked">{{ filter.name }}
              </mat-checkbox>
            </div>
          </div>
        </div>
      </mat-autocomplete>

    </div>
  </form>
  <img (click)="toggleSearch()" class="search-img" src="../assets/images/search.png" alt="Поиск">
</div>
