<div class="search-add" appFocus (clickOutside)="closeSearch()">
  <form class="search-form-main">
    <div class="search" >
      <mat-form-field class="search-input" [ngClass]="{'expanded': showSearch}">
        <div class="input-btn-block">
          <mat-icon class="arrow-back desktop-only cancel-search-btn">arrow_back</mat-icon>

          <input
            type="text"
            matInput
            [matAutocomplete]="auto"
            placeholder="Поисковый запрос"
            [formControl]="searchControl"
            name="text"
          >
          <button type="button" class="cancel-search-btn desktop-only" (click)="closeSearch()">
            <mat-icon class="cancel-search cancel-search-btn desktop-only">cancel</mat-icon>
          </button>
          <button type="submit" class="search-btn desktop-only">Найти</button>
        </div>

      </mat-form-field>

      <mat-autocomplete #auto="matAutocomplete" class="toggle-form">
        <mat-option
          *ngFor="let option of options"
          [value]="option"
          class="hidden-option">
          {{ option }}
        </mat-option>

        <app-search-category></app-search-category>
      </mat-autocomplete>

    </div>
  </form>
  <img (click)="toggleSearch()" class="search-img" src="../assets/images/search.png" alt="Поиск">
</div>
