/* main-menu.component.css */

header {
  display: block;
  background-color: #1074CC;
  width: 100%;
  height: 56px;
}

.container {
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: block;
  vertical-align: bottom;
  padding-left: 16px;
}

.menu {
  margin-left: 0;
  display: flex;
}

.menu-list {
  display: flex;
  list-style: none;
  padding-left: 24px;
  gap: 1px;
  margin-right: 56px;
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 18px 18px 18px 12px;
}

.menu-item img {
  padding: 0 8px 0 12px;
}

.menu-item a {
  ont-size: 14px;
  text-decoration: none;
  cursor: pointer;
  color: #fff;
}

.search-add {
  display: flex;
  align-items: center;
  padding: 8px 0;
}

.search {
  display: flex;
  align-items: center;
  height: 40px;
}

.search-form-main {
  outline: none;
  cursor: pointer;
  z-index: 1;
  position: fixed;
  right: 311px;
}

.form-search {
  display: flex;
  justify-content: space-around;
}

.search-input {
  width: 704px;
  padding-right: 12px;
}

.search img {
  padding: 0 16px;
  cursor: pointer;
}

.input-btn-block {
  display: flex;
  flex-direction: row;
}

.search-btn {
  background-color: #ffb700;
  color: white;
  border: #ffb700;
  height: 50px;
  width: 100px;
  border: 1px solid #ffb700;
  font-size: 20px;
  cursor: pointer;
}

.add-new img {
  cursor: pointer;
}

.right {
  display: flex;
  align-items: center;
  padding-right: 12px;
}

.notification {
  padding: 0 12px;
  cursor: pointer;
}

.form-search {
  display: flex;
}

.history {
  width: 216px;
}

.input-name {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 359px;
}

.only-checkbox {
  padding-bottom: 24px;
}


.mat-mdc-option .mat-icon, .mat-mdc-option .mat-pseudo-checkbox-full {
  margin-right: 0;
  flex-shrink: 0;
}
