/* main-menu.component.css */

header {
  display: block;
  background-color: #1074CC;
  width: 100%;
  height: 56px;
}

.container {
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: block;
  vertical-align: bottom;
  padding-left: 16px;
}

.menu {
  margin-left: 0;
  display: flex;
}

.menu-list {
  display: flex;
  list-style: none;
  padding-left: 24px;
  gap: 1px;
  margin-right: 56px;
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 18px 18px 18px 12px;
}

.menu-item img {
  padding: 0 8px 0 12px;
}

.menu-item a {
  ont-size: 14px;
  text-decoration: none;
  cursor: pointer;
  color: #fff;
}

.search-add {
  display: flex;
  align-items: center;
  padding: 8px 0;
}

.search {
  display: flex;
  align-items: center;
  height: 40px;
}

.search-input {
  outline: none;
  display: none;
  height: 40px;
  width: 704px;
  cursor: pointer;
}

.search img {
  padding: 0 16px;
  cursor: pointer;
}

.example-full-width {
  width: 704px;
}

.add-new img {
  cursor: pointer;
}

.right {
  display: flex;
  align-items: center;
  padding-right: 12px;
}

.notification {
  padding: 0 12px;
  cursor: pointer;
}

.form-search {
  display: flex;
}

.history {
  width: 216px;
  padding: 0 16px;
}

.input-name {
  width: 439px;
  margin: 0;
  padding: 0;
}
