<header>
  <div class="container">
    <div class="logo">
      <img src="assets/images/Logo.png" alt="Logo">
    </div>

    <nav class="menu">
      <ul class="menu-list">
        <li class="menu-item">
          <img src="assets/images/link.png" alt="link">
          <a href="">Ссылки</a>
        </li>
        <li class="menu-item">
          <img src="assets/images/users.png" alt="users">
          <a href="">Контакты</a>
        </li>
        <li class="menu-item">
          <img src="assets/images/Union.png" alt="Union">
          <a href="">Теги</a>
        </li>
        <li class="menu-item">
          <img src="assets/images/fav.png" alt="fav">
          <a href="">Избранное</a>
        </li>
        <li class="menu-item">
          <img src="assets/images/history.png" alt="history">
          <a href="">Посещения</a>
        </li>
      </ul>

      <div class="search-add">
        <div class="search">
          <form class="search-form-main">
            <mat-form-field *ngIf="showSearch" class="search-input">

              <div class="input-btn-block">
                <input
                  type="text"
                  matInput
                  [matAutocomplete]="auto"
                  placeholder="Поисковый запрос"
                  [formControl]="searchControl"
                >
                <button type="submit" class="search-btn">Найти</button>
              </div>

              <mat-autocomplete #auto="matAutocomplete">
                <div class="form-search">
                  <div class="history">
                    <p>История</p>
                    <p>кнопка</p>
                    <p>приложение</p>
                  </div>

                  <div class="options">
                    <mat-option>
                      <mat-form-field class="input-name">
                        <mat-label>Автор</mat-label>
                        <input matInput placeholder=" Имя или должность">
                        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                      </mat-form-field>
                    </mat-option>

                    <mat-option>
                      <form>
                        <mat-checkbox *ngFor="let filter of filters" [(ngModel)]="filter.checked">{{ filter.name }}
                        </mat-checkbox>
                      </form>
                    </mat-option>
                    <mat-option>
                      <form class="only-checkbox">
                        <div>Только</div>
                        <mat-checkbox *ngFor="let filter of filtersOnly" [(ngModel)]="filter.checked">{{ filter.name }}
                        </mat-checkbox>
                      </form>
                    </mat-option>
                  </div>
                </div>
              </mat-autocomplete>
            </mat-form-field>
          </form>
          <img (click)="toggleSearch()" *ngIf="showSearchIcon" src="assets/images/search.png" alt="search">
        </div>
        <div class="add-new">
          <img src="assets/images/add.png" alt="add">
        </div>
      </div>
    </nav>

    <div class="right">
      <div class="notification">
        <img src="assets/images/notification.png" alt="Logo">
      </div>
      <div class="user">
        <img src="assets/images/AVA.png" alt="Logo">
      </div>
    </div>
  </div>
</header>

